---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
  <main>
    <h1 class="m-2">Bosco Lau's blogs</h1>
    <hr />
    <a href="/about" class="m-2 btn btn-secondary">about</a>
    <br />
    <a href="/blogs" class="m-2 btn btn-primary">view blogs</a>
  </main>
</Layout>
