---
import ModeBtn from "./modebtn";
---

<nav class="navbar navbar-expand-sm" id="navbar">
  <ModeBtn client:load />
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/"><span>Home</span></a>
      <a class="nav-item nav-link" href="/about"><span>About</span></a>
      <a class="nav-item nav-link" href="/blogs"><span>Blogs</span></a>
    </div>
  </div>
</nav>
